name: PR-Comment-Bot

on:
  # Trigger the workflow on push or pull request
  pull_request:
  issues:
permissions:
  issues: 'write'
  pull-requests: 'write'
jobs:
  comment:
    name: Comment on Pull Request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            if (context.payload.action === 'opened' && context.payload.pull_request) {
              github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: `Thanks for opening this Pull Request!
  
                ### Pull Request
  
                bla bla
                
                ### Contribution Guidelines
  
                more info.
                
                ### Other
  
                This is my context:
                \`\`\`json
                ${JSON.stringify(context, null, 2)}
                \`\`\`
                
                
                _Beep boop, I'm a bot, modify my source code here: URL_
                `
              })
            } else {
            
              console.log('context', JSON.stringify(context, null, 2))
            }
            
